@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.active > div {
  @apply border-black text-black;
}
.headers-link > li:not(:first-child):not(:last-child):after {
  position: absolute;
  content: '|';
  left: 0;
  top: 55%;
}
.headers-link > li > a:active > div {
  @apply scale-95 transform transition-transform;
}

.headers-link a:hover > div {
  @apply text-black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.footerMobile .active {
  color: #1b1616 !important;
}

.liked svg {
  @apply fill-pink-500 stroke-white;
}
