@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: 'Poppins', system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
}

.active > div {
  @apply border-black text-black;
}

.headers-link > li:not(:first-child):after {
  position: absolute;
  content: '|';
  left: 0;
  top: 55%;
}
.headers-link > li > a:active > div {
  @apply scale-95 transform transition-transform;
}

.headers-link a:hover > div {
  @apply text-black;
}
.footerMobile .active {
  @apply text-secondary-negro;
}
.liked svg {
  @apply fill-main-rosa stroke-white;
}

@media (max-height: 768px) {
  .images-responsive > img {
    height: 370px;
    width: auto;
  }
}
@media (max-height: 678px) {
  .images-responsive > img {
    height: 280px;
    width: auto;
  }
  .images-responsive > img:nth-child(n + 4):nth-child(-1n + 6) {
    display: none;
  }
}
@media (max-height: 535px) {
  .images-responsive {
    display: none !important;
  }
}
